<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Using Column</title>
    <style>
        div{
            column-count: 3;
            column-gap: 30px;
        }
    </style>
</head>
<body>
    <div>
    Armadillos are New World placental mammals with a leathery armour shell. The Chlamyphoridae and Dasypodidae are the only surviving families in the order Cingulata, part of the superorder Xenarthra, along with the anteaters and sloths. The word armadillo means "little armoured one" in Spanish. The Aztecs called them āyōtōchtli [aːjoːˈtoːt͡ʃt͡ɬi], Nahuatl for "turtle-rabbit": āyōtl [ˈaːjoːt͡ɬ] (turtle) and tōchtli [ˈtoːt͡ʃt͡ɬi] (rabbit).[1]

About nine extant genera and 21 extant species of armadillo have been described, some of which are distinguished by the number of bands on their armour. Their average length is about 75 cm (30 in), including tail. The giant armadillo grows up to 150 cm (59 in) and weighs up to 54 kg (119 lb), while the pink fairy armadillo is a diminutive species, with an overall length of 13–15 cm (5–6 in). All species are native to the Americas, where they inhabit a variety of different environments.

Recent genetic research suggests that an extinct group of giant armoured mammals, the glyptodonts, should be included within the lineage of armadillos, having diverged some 35 million years ago, much more recently than previously assumed.[2]
    </div>
</body>
</html>