<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Using Inline Block</title>
    <style>
        *{
            box-sizing: border-box
        }
        ul,section{
            display: inline-block;
        }
        ul{
            width: 20%;
            margin: 0;
            text-decoration: none;
            list-style: none;
        }
        section{
            width: 78%;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">Blogs</a></li>
    </ul>
    <section>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt velit quidem ipsa fugit tenetur illum sunt laudantium soluta, harum id rem nisi eaque voluptates, placeat, recusandae ratione, repudiandae! Et, qui!</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem doloribus voluptatum et voluptatibus, saepe quasi illo suscipit ex odio, a dignissimos dolore ratione qui repellat adipisci sapiente fugiat quia.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eligendi recusandae ex corrupti minus, aspernatur dolore provident ab incidunt natus. Consequatur id, sunt sed architecto molestiae corporis modi accusantium veniam.</article>
    </section>
</body>
</html>